<div class="card">
    <div class="card-body">

        <h4>Formulário para edição de tarefas</h4>
        <p>Preencha os campos para alterar uma tarefa em sua agenda.</p>

        <div *ngIf="mensagem != ''">
            <div class="alert alert-success mb-3">
                <strong>Sucesso!</strong> {{mensagem}}
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="row mb-3">
                <div class="col">
                    <label>Nome da tarefa:</label>
                    <input type="text" class="form-control" placeholder="Digite aqui"
                        formControlName="nome"/>
                </div>
                <div class="col">
                    <label>Data da tarefa:</label>
                    <input type="date" class="form-control"
                        formControlName="data"/>
                </div>
                <div class="col">
                    <label>Hora da tarefa:</label>
                    <input type="time" class="form-control" 
                        formControlName="hora"/>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <label>Prioridade da tarefa:</label>
                    <select class="form-select" formControlName="prioridade">
                        <option value="">Escolha uma opção</option>
                        <option value="1">Baixa</option>
                        <option value="2">Média</option>
                        <option value="3">Alta</option>
                    </select>
                </div>
                <div class="col">
                    <label>Selecione a categoria:</label>
                    <select class="form-select" formControlName="categoriaId">
                        <option value="">Escolha uma opção</option>

                        <option *ngFor="let c of categorias" value="{{c.id}}">
                            {{c.descricao}}
                        </option>

                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col">
                    <input type="submit" class="btn btn-primary" value="Salvar alterações"/>
                </div>
            </div>

        </form>

    </div>
</div>